<%
# This is a hack! Can be much cleaner
visual_submenu = "<ul class=\"nav__sub-items\">"
visual_submenu += nav_link( "Principles", "/visual-style.html", true )
visual_submenu += nav_link( "Colors", "/visual-style--colors.html", true )
visual_submenu += nav_link( "Typography", "/visual-style--typography.html", true )
visual_submenu += nav_link( "Icons", "/visual-style--icons.html", true )
visual_submenu += nav_link( "Imagery", "/visual-style--imagery.html", true )
visual_submenu += nav_link( "Illustrations", "/visual-style--illustrations.html", true )
visual_submenu += "</ul>"
%>
			<div class="col col--start">
				<input type="checkbox" id="trigger--nav-main" class="trigger--nav-main">
				<nav id="nav--main" class="nav nav--main" role="navigation">
					<ol>
						<%= nav_link( "Introduction", "/" ) %>
						<%= nav_link( "Design principles", "/design-principles.html" ) %>
						<%= nav_link( "Visual style", "/visual-style.html", false, visual_submenu ) %>
					</ol>
				</nav>
			</div>
