<%
def make_menu_item menu, sub = false, submenu = ""
  return nav_link( menu.name.to_s, menu.path.to_s, sub, submenu )
end

def build_menu menu, sub = false
  toc = ""

  menu.each do | menu_item |
    if menu_item.submenu
      subtoc = "<ul class=\"nav__sub-items\">"
      subtoc += build_menu( menu_item.submenu, true )
      subtoc += "</ul>"

      toc += make_menu_item( menu_item, sub, subtoc )
    else
      toc += make_menu_item( menu_item, sub )
    end
  end

  return toc
end

toc = build_menu data.toc
%>


<div class="col col--start">
	<input type="checkbox" id="trigger--nav-main" class="trigger--nav-main">
	<nav id="nav--main" class="nav nav--main" role="navigation">
		<ol>
			<%= toc %>
		</ol>
	</nav>
</div>
