					<div class="page__parent-title">Visual Style</div>
					<h1 class="page__title">Imagery</h1>

						<p>Imagery is found in Wikimedia projects as standalone contributions as well as powerful supplementary content to engage and communicate.
						</p>

						<h3>Imagery selection guidelines</h3>
						<p>As the saying goes, an image can tell a thousand words. We use images to help increase understanding and engagement with a subject. When using imagery in our projects, the selections follow the general guidelines:</p>

						<ul>
							<li><strong>Contextually relevant.</strong> Images relate directly to the article subject.</li>
							<li><strong>Neutral point of view.</strong> For example, when showing an image of a shark, use a side profile photograph of a shark rather than an action shot of a shark preying on another animal.</li>
							<li><strong>Representation in the most accurate medium.</strong> Use a photograph of Rosalind Franklin in her biographic profile rather than artistic drawing. In an article about Donald Duck, use a cartoon still of Donald Duck instead of a photograph of a duck.</li>
							<li><strong>Good resolution quality.</strong></li>
							<li><strong>Respects copyright.</strong> We always correctly attribute images, using Creative Commons, Fair use, or Public Domain images stored on Wikimedia Commons, as well as a multitude of other sources so long as they comply correctly with licensing.</li>
						</ul>
