					<div class="page__parent-title">Visual Style</div>
					<h1 class="page__title">Illustrations</h1>

					<h3>Illustration style</h3>
					<img src="img/visual-style/illustrations-sample.png" alt="Sample of illustrations">
					<p><strong>Colored backgrounds</strong><br>
					Illustrations that appear on a colored background should not include an outline stroke. Elements inside of the illustration should also not contain an outline stroke. Any lines inside of the illustration should have a weight of 2&#160;dp. The illustration can utilize any of the colors available in the style guide excluding Base0.</p>
					<p><strong>White background</strong><br>
					Illustrations that appear on a white background should include a 2&#160;dp outline stroke in Base50. Elements inside of the illustration can contain an outline stroke, this stroke should also be a 2&#160;dp stroke in Base50. The illustration can utilize any of the colors available in the style guide excluding Base0.</p>
					<p><strong>Grey scale</strong><br>
					Grey scale illustrations (for use in empty states) should include a 2&#160;dp outline stroke in Base60. Elements inside of the illustration can contain an outline stroke, this stroke should also be a 2&#160;dp stroke in Base60. The illustration should only include base colors excluding Base0.</p>

					<h3>Using illustrations</h3>
					<p>Illustrations should be used as a supporting element alongside text and should never appear alone. Illustrations should be relevant and context-aware of their surroundings, do not include illustrations simply for decoration. Empty states, onboarding, or modals containing messaging are the primary use cases for utilizing illustrations. Utilize the appropriate illustration style depending on the background that the illustration will be presented on.</p>
					<p>Illustrations should never appear pixelated. Test the resolution of your illustration for the specific the ratios you will be using it in.</p>

					<h3>Creating illustrations</h3>
					<p>Illustrations should fit within a 200&#160;dp by 200&#160;dp square. Some illustrations may need to be taller than they are wide (and visa versa) but overall illustrations should look balanced within their 200&#160;dp boundary.</p>
					<p>Illustrations must adhere to the colors outlined in this style guide, however no illustrations should use Base0. Illustrations may include transparent elements or cut outs, however all non-transparent elements should be displayed at 100% opacity.</p>
					<p>When designing a new illustration, focus on legibility. Illustrations consist of a single element or focused composition. Illustrations should be simple, clear, universal and memorable.</p>
					<p>Illustrations should be simple. They use monochromatic vector-based shapes with the following properties:</p>
					<ul>
						<li>Filled areas. Shapes are defined by filled areas as opposed to outlines.</li>
						<li>Rounded corners. Corners are slightly rounded (2&#160;dp) to make shapes more friendly and welcoming, but not too much to look goofy.</li>
						<li>2&#160;dp outline stroke, except for illustrations that appear on colored backgrounds.</li>
					</ul>
