					<div class="page__parent-title">Visual Style</div>
					<h1 class="page__title">Principles</h1>
					<p>Wikimedia projects are associated with learning, editorship, and books. They are neutral and transparent. They are about reading and writing. <!-- They remind you of ink and paper. --></p>

					<p>Wikipedia is our most prominent project. <br>It's an encyclopedia. It's a modern encyclopedia. We have a certain perception of visual identity when we talk about encyclopedias. An identity which reflects wisdom. At the same time, traditional encyclopedias have a dated look and feel. This is also the big difference between traditional knowledge sharing and Wikipedia.
					Wikipedia is continuously evolving and we need to incorporate that into its look and feel.</p>
					<!-- <p>Wikipedia is in an unique position of an old idea but fresh content. That is exactly what we want to convey with our visual style.</p> -->
					<p>Paper was the largest medium for spreading knowledge. Today it is computers. We borrowed values that are tied to printed media. Values like trustworthiness and academical objectivity.</em>
					</p>
					<figure>
						<img src="img/visual-style/principles-paper-ink.png" alt="Paper and ink">
					</figure>
					<p>We start with basic elements like paper and ink, then extend it further to match the needs of our visual character.</p>
					<figure>
						<img src="img/visual-style/principles-paper-shadow.png" alt="Sheet of paper dropping shadow on the background">
					</figure>
					<p>Paper casts subtle shadows onto a base surface. paper has slightly
					    rounded corners due to its organic nature.</p>
					<figure>
						<img src="img/visual-style/principles-content-chrome.png" alt="Example screenshot of Wikipedia article about Dieter Rams">
					</figure>
					<p>We follow our design principles of content first, content precedes chrome, content goes on paper, chrome stays on the base layer. Make it obvious what is chrome.</p>
					<figure>
						<img src="img/visual-style/principles-color-type.png" alt="Color and font samples from our guideline">
					</figure>
					<p>Our color choices are inspired by black, white, and ink blue. Typography has roots in traditional typefaces.</p>
					<figure>
						<img src="img/visual-style/principles-style-tile.png" alt="Comparison of some of our guided attributes with “old medium” New York Times">
					</figure>
					<p>It is an uncommon mix of new and old media. Joyful yet trustworthy.<br>The topics in this section are execution of these ideas.</p>
